<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="#{msg.titleclients}"></title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
	<div class="row mb-3">
		<div class="col-12 col-md-6">
			<h1 th:text="#{msg.titleclients}"></h1>
		</div>
		<div class="col-12 col-md-6 text-md-right">
			<form action="/clientes/crear" class="d-inline-block">
				<button type="submit" class="btn btn-primary" th:text="#{msg.createClient}"></button>
			</form>
		</div>
		<div class="col-12 text-md-right">
			<form action="/" class="d-inline-block">
				<button type="submit" class="btn btn-primary" th:text="#{msg.return}"></button>
			</form>
		</div>
	</div>

	<br>

	<div class="row mb-2">
		<div class="col-12 col-md-1"><strong th:text="#{msg.id}"></strong></div>
		<div class="col-12 col-md-1"><strong th:text="#{msg.name}"></strong></div>
		<div class="col-12 col-md-2"><strong th:text="#{msg.surname1}"></strong></div>
		<div class="col-12 col-md-2"><strong th:text="#{msg.surname2}"></strong></div>
		<div class="col-12 col-md-1"><strong th:text="#{msg.city}"></strong></div>
		<div class="col-12 col-md-1"><strong th:text="#{msg.category}"></strong></div>
		<div class="col-12 col-md-2"><strong th:text="#{msg.email}"></strong></div>
		<div class="col-12 col-md-2"><strong th:text="#{msg.action}"></strong></div>
	</div>

	<hr/>

	<div th:each="cliente : ${listaClientes}" class="row mb-2">
		<div class="col-12 col-md-1" th:text="#{msg.id}"></div>
		<div class="col-12 col-md-1" th:text="${cliente.nombre}"></div>
		<div class="col-12 col-md-2" th:text="${cliente.apellido1}"></div>
		<div class="col-12 col-md-2" th:text="${cliente.apellido2 ?: '&nbsp;'}"></div>
		<div class="col-12 col-md-1" th:text="${cliente.ciudad}"></div>
		<div class="col-12 col-md-1" th:text="${cliente.categoria}"></div>
		<div class="col-12 col-md-2" th:text="${cliente.email}"></div>
		<div class="col-12 col-md-2">
			<div class="d-flex justify-content-center">
				<form th:action="@{/clientes/__${cliente.id}__}" class="d-inline mr-3">
					<button type="submit" class="btn btn-dark btn-sm" th:text="#{msg.details}"></button>
				</form>
				<form th:action="@{/clientes/editar/__${cliente.id}__}" class="d-inline mr-3">
					<button type="submit" class="btn btn-success btn-sm" th:text="#{msg.edit}"></button>
				</form>
				<form th:action="@{/clientes/borrar/__${cliente.id}__}" method="post" class="d-inline mr-3">
					<button type="submit" class="btn btn-danger btn-sm" th:text="#{msg.delete}"></button>
				</form>
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
