<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comerciales</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <div class="row mb-3">
            <div class="col-12 col-md-6">
                <h1>Comerciales</h1>
            </div>
            <div class="col-12 col-md-6 text-md-right">
                <form action="/comerciales/crear" class="d-inline-block">
                    <button type="submit" class="btn btn-primary">Crear Comercial</button>
                </form>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12 col-md-1"><strong>ID</strong></div>
            <div class="col-12 col-md-2"><strong>Nombre</strong></div>
            <div class="col-12 col-md-2"><strong>Apellido1</strong></div>
            <div class="col-12 col-md-2"><strong>Apellido2</strong></div>
            <div class="col-12 col-md-2"><strong>Comisión</strong></div>
            <div class="col-12 col-md-3 text-center"><strong>Acción</strong></div>
        </div>
        <hr/>

        <div th:each="comercial : ${listaComerciales}" class="row mb-2">
            <div class="col-12 col-md-1" th:text="${comercial.id}">0</div>
            <div class="col-12 col-md-2" th:text="${comercial.nombre}">nombre</div>
            <div class="col-12 col-md-2" th:text="${comercial.apellido1}">apellido1</div>
            <div class="col-12 col-md-2" th:text="${comercial.apellido2 ?: '&nbsp;'}">apellido2</div>
            <div class="col-12 col-md-2" th:text="${comercial.comision}">comisión</div>
            <div class="col-12 col-md-3 text-center">
                <div class="d-flex justify-content-center">
                    <form th:action="@{/comerciales/__${comercial.id}__}" class="d-inline mr-2">
                        <button type="submit" class="btn btn-dark btn-sm">Detalles</button>
                    </form>
                    <form th:action="@{/comerciales/editar/__${comercial.id}__}" class="d-inline mr-2">
                        <button type="submit" class="btn btn-success btn-sm">Editar</button>
                    </form>
                    <form th:action="@{/comerciales/borrar/__${comercial.id}__}" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
