<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{msg.titleCreate}"></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-5">
        <form th:action="@{/clientes/crear}" th:object="${cliente}" method="post">
            <h1 class="text-center mb-4" th:text="#{msg.createClient}"></h1>

            <div class="form-group">
                <label th:text="#{msg.name}"></label>
                <input type="text" class="form-control" th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''" th:field="*{nombre}" placeholder="Nombre">
                <ul class="text-danger" th:if="${#fields.hasErrors('nombre')}">
                    <li th:each="err : ${#fields.errors('nombre')}" th:text="${err}" class="error"></li>
                </ul>
            </div>

            <div class="form-group">
                <label th:text="#{msg.surname1}"></label>
                <input type="text" class="form-control" th:classappend="${#fields.hasErrors('apellido1')} ? 'is-invalid' : ''" th:field="*{apellido1}" placeholder="Primer apellido">
                <ul class="text-danger" th:if="${#fields.hasErrors('apellido1')}">
                    <li th:each="err : ${#fields.errors('apellido1')}" th:text="${err}" class="error"></li>
                </ul>
            </div>

            <div class="form-group">
                <label th:text="#{msg.surname2}"></label>
                <input type="text" class="form-control" th:field="*{apellido2}" placeholder="Segundo apellido (Opcional)">
            </div>

            <div class="form-group">
                <label th:text="#{msg.city}"></label>
                <input type="text" class="form-control" th:classappend="${#fields.hasErrors('ciudad')} ? 'is-invalid' : ''" th:field="*{ciudad}" placeholder="Ciudad">
                <ul class="text-danger" th:if="${#fields.hasErrors('ciudad')}">
                    <li th:each="err : ${#fields.errors('ciudad')}" th:text="${err}" class="error"></li>
                </ul>
            </div>

            <div class="form-group">
                <label th:text="#{msg.category}"></label>
                <input type="text" class="form-control" th:classappend="${#fields.hasErrors('categoria')} ? 'is-invalid' : ''" th:field="*{categoria}">
                <ul class="text-danger" th:if="${#fields.hasErrors('categoria')}">
                    <li th:each="err : ${#fields.errors('categoria')}" th:text="${err}" class="error"></li>
                </ul>
            </div>

            <div class="form-group">
                <label th:text="#{msg.email}"></label>
                <input type="text" class="form-control" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''" th:field="*{email}" placeholder="Email">
                <ul class="text-danger" th:if="${#fields.hasErrors('email')}">
                    <li th:each="err : ${#fields.errors('email')}" th:text="${err}" class="error"></li>
                </ul>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary" th:text="#{msg.save}"></button>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
