<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Comerciales</title>
</head>
<body>
<div >
    <form th:action="@{/comerciales/crear}" th:object="${comercial}" method="post">

        <div>
            <h1>Crear Comerciales</h1>
        </div>

        <div>
            <div>
                <label>Nombre</label>
                <input th:field="*{nombre}" value="nombre" />
            </div>

            <div>
                <label>Primer apellido</label>
                <input th:field="*{apellido1}" value="apellido1" />
            </div>

            <div>
                <label>Segundo apellido</label>
                <input th:field="*{apellido2}" value="apellido2" />
            </div>

            <div>
                <label>Comisión</label>
                <input th:field="*{comision}" value="ciudad" />
            </div>

            <div>
                <button>Guardar</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>