<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{msg.titleDetailsClients}"></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4" th:text="#{msg.titleOfDetails}"></h1>

        <div class="form-group">
            <label th:text="#{msg.name}"></label>
            <input type="text" th:value="${cliente.nombre}" class="form-control" readonly="readonly">
        </div>

        <div class="form-group">
            <label th:text="#{msg.surname1}"></label>
            <input type="text" th:value="${cliente.apellido1}" class="form-control" readonly="readonly">
        </div>

        <div class="form-group">
            <label th:text="#{msg.surname2}"></label>
            <input type="text" th:value="${cliente.apellido2}" class="form-control" readonly="readonly">
        </div>

        <div class="form-group">
            <label th:text="#{msg.city}"></label>
            <input type="text" th:value="${cliente.ciudad}" class="form-control" readonly="readonly">
        </div>

        <div class="form-group">
            <label th:text="#{msg.category}"></label>
            <input type="text" th:value="${cliente.categoria}" class="form-control" readonly="readonly">
        </div>

        <br>

        <div class="form-group">
            <h4 th:text="#{msg.customerOrdersClient}"></h4>
            <div th:each="pedido : ${listaPedidos}" class="mb-3">
                <div class="form-group">
                    <label th:text="#{msg.idOrders}"></label>
                    <input type="text" th:value="${pedido.id}" class="form-control" readonly="readonly">
                </div>

                <div class="form-group">
                    <label th:text="#{msg.total}"></label>
                    <input type="text" th:value="${pedido.total}" class="form-control" readonly="readonly">
                </div>

                <div class="form-group">
                    <label th:text="#{msg.date}"></label>
                    <input type="text" th:value="${pedido.fecha}" class="form-control" readonly="readonly">
                </div>

                <div class="form-group">
                    <label th:text="#{msg.client}"></label>
                    <input type="text" th:value="${cliente.nombre}" class="form-control" readonly="readonly">
                </div>

                <br>
            </div>
        </div>

        <div class="form-group text-center">
            <form action="/clientes">
                <button type="submit" class="btn btn-secondary" th:text="#{msg.return}"></button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
