<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalles Comercial</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Detalles del Comercial</h1>

        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" th:value="${comercial.nombre}" class="form-control" readonly="readonly">
        </div>

        <div class="form-group">
            <label for="apellido1">Primer apellido</label>
            <input type="text" id="apellido1" th:value="${comercial.apellido1}" class="form-control" readonly="readonly">
        </div>

        <div class="form-group">
            <label for="apellido2">Segundo apellido</label>
            <input type="text" id="apellido2" th:value="${comercial.apellido2}" class="form-control" readonly="readonly">
        </div>

        <div class="form-group">
            <label for="comision">Comisión</label>
            <input type="text" id="comision" th:value="${comercial.comision}" class="form-control" readonly="readonly">
        </div>

        <div class="form-group text-center">
            <form action="/comerciales">
                <button type="submit" class="btn btn-secondary">Volver</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
