<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Comercial</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Editar Comercial</h1>

        <form th:action="@{/comerciales/editar/__${comercial.id}__}" th:object="${comercial}" method="post">
            <div class="form-group">
                <label>ID</label>
                <input type="text" id="id" th:field="*{id}" class="form-control" readonly="readonly" value="id">
            </div>

            <div class="form-group">
                <label>Nombre</label>
                <input type="text" th:field="*{nombre}" class="form-control" value="nombre">
            </div>

            <div class="form-group">
                <label>Primer apellido</label>
                <input type="text" th:field="*{apellido1}" class="form-control" value="apellido1">
            </div>

            <div class="form-group">
                <label>Segundo apellido</label>
                <input type="text" th:field="*{apellido2}" class="form-control" value="apellido2">
            </div>

            <div class="form-group">
                <label>Comisión</label>
                <input type="text" th:field="*{comision}" class="form-control" value="comision">
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
