<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{msg.index}"></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mx-auto px-4">
    <div class="flex flex-col items-center py-4 border-b-2">
        <div class="text-center text-4xl ">
            <h1 th:text="#{msg.seles}"></h1>
        </div>
    </div>

    <div class="flex flex-row justify-center my-4 space-x-4">
        <div class="basis-1/4 text-center">
            <a href="/clientes" class="btn btn-primary text-white px-4 py-2 rounded" th:text="#{msg.seeClients}"></a>
            <a href="/comerciales" class="btn btn-primary text-white px-4 py-2 rounded" th:text="#{msg.seeCommercials}"></a>
        </div>
    </div>
</div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
